<div class="container">
  <h1>Pick your name</h1>
    <% @realtors.each do |realtor| %>
    <h3><%= realtor.name  %></h3>
    <%= link_to past_realtor_appointments_path(realtor) do %>
      <div type="button" class="btn btn-primary">Past Appointments</div>
    <%end %>
    <%= link_to future_realtor_appointments_path(realtor) do %>
      <div type="button" class="btn btn-primary">Future Appointments</div>
    <% end %>
  <% end %>
</div>

<div class="container">
  <%=link_to root_path do %>
    <div type="button" class="btn btn-primary">Home</div>
  <% end %>
</div>
