<div class="container-title">
  <h1>WELCOME TO HOMEDAY<h1>
</div>
<div class=" button-container">
  <%=link_to new_seller_path do %>
    <div type="button" class="btn btn-primary">Sign Up</div>
  <% end %>
  <%=link_to realtors_path do %>
    <div type="button" class="btn btn-primary">Homies</div>
  <% end %>
</div>
