<div class="container">
  <h1>Your future appointments</h1>
  <%if @future_appointments.any?  %>
    <%@future_appointments.each do |future_appointment|%>
    <h3><%=future_appointment.seller.name %></h3>
    <h3><%=future_appointment.date  %></h3>
    <h3><%=future_appointment.timeslot %></h3>
    <% end %>
  <% else %>
  <h2>You have no appointments for the next month </h2>
  <% end %>
</div>
