<div class="title-container">
  <h1>Your past appointments</h1>
</div>
<div class="appointments-container">
  <%if @past_appointments.any?  %>
  <%@past_appointments.each do |past_appointment|%>
  <h3><%=past_appointment.seller.name %></h3>
  <h3><%=past_appointment.date  %></h3>
  <h3><%=past_appointment.timeslot %></h3>
  <% end %>
  <% else %>
  <h2>You have no appointments from last month</h2>
  <% end %>
</div>
